body {
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
* {
    box-sizing: inherit;
}
.btn {
    background-color: blueviolet;
    border-radius: 15px;
    width: 100px;
    color: white;
}
.nav, .navbar {
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
    background-color: white;
    padding-top: 2px;
}
.navbar-brand .btstrp-navbar-collapse {
    padding-left: 65px;
    padding-right: 66px;
}
.navbar-brand {
    padding-top: 0px;
}
.navbar {
    padding-bottom: 0px;
}
#grad1 {
    padding: 0px 0 400px;
    background: -webkit-linear-gradient(left,#7250d5,#aa47a5 50%,#f43a67 99%);
    background: linear-gradient(90deg,#7250d5 0,#aa47a5 50%,#f43a67 99%);
    position: relative;
    overflow: hidden;
    margin-top: 0px;
}

.cont {
    color: #fff;
    line-height: 21px;
    font-weight: 800;
    font-size: 44px;
}
h1 {
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    text-align: center;
    padding-top: 80px;
}
.x-intro-section:before {
    content: "";
    position: absolute;
    left: -28%;
    top: 0;
    bottom: 0;
    width: 100%;
    background: hsla(0,0%,100%,.1);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.x-intro-section:after {
    content: "";
    position: absolute;
    background: #fff;
    height: 100px;
    left: 0;
    width: 100%;
    bottom: -50px;
    -webkit-transform: skewY(-3.5deg);
    -ms-transform: skewY(-3.5deg);
    transform: skewY(-3.5deg);
}

.x-about .x-bg-stretch {
    position: relative;
    height: 170px;
    display: block;
    width: 283px;
    margin: -128px auto auto;
}
.x-bg-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.relative {
    position: relative;
}
.frame {
    align-items: center;
}

.img1 {
    border: 4px solid #fff; 
    position: absolute;
    left: 250px;
    top: 250px;
}
.hello {
    background-color: #7250d5;
    background-image: linear-gradient(90deg,#1e8bff,#6955ff 45%,#a83af5 50%,#c03ada 75%);
    text-align: center;
    padding-top: 10px;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

}
*{
    box-sizing: inherit;
}
.name {
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(4, 4, 51);
}
.container1 {
    margin-top: 100px;
}
.names {
    text-align: center;
    color: rgb(4, 4, 51);
    font-size: large;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.facts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-right: 250px;
    padding-left: 250px;
    list-style: none;
    justify-content: space-between;
    margin: 40px 0;
    display: flex;
}
.facts .fact-one {
    color: #1e8bff;
}
.facts .fact {
    font-size: 40px;
    font-weight: 500;
    display: block;
}
li {
    text-align:center;
}
.facts .fact-two {
    color: #6955ff;
}
.facts .fact-three {
    color: #a83af5;
}
.facts .fact-four {
    color: #c03ada;
}
h3 {
    font-size: 26px;
    font-weight: 600;
    padding-left: 320px;
    padding-top: 50px;
}
.pg {
    width: 80%;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding-left: 400px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.video_by_mosh {
    bottom: 0;
    left: 0;
    height: 550px;
    right: 0;
    top: 0;
    width: 100%;
    
}
.x-section-beveled.x-right:after, .x-section-beveled.x-right:before {
    -webkit-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    transform: skewY(-3deg);
}
.x-section-beveled::before {
    top: 980px;
}
.x-section-beveled:after{
    bottom: 987px;
}
.x-section-beveled:after, .x-section-beveled:before {
    content: "";
    position: absolute;
    background:white;
    height: 70px;
    left: 0;
    width: 100%;
}
.x-section-reviews {
    padding: 138px 0 50px;
    position: relative;
    z-index: 1;
}
#const {
    position: relative;
    margin-top: 100px;
    padding-top: 0px;
    margin-bottom: 100px;
}
.x-bg-gray {
    background: #f5f5f5;
}
.tweet {
        border-radius: 20px;
        padding: 30px 40px 40px 30px;
        background: #fff;
        font-size: 16px;
        box-shadow: 0 0 10px 10px #f0f0f0;
        align-items: center;
}
.tweet-handle {
    color: gray;
    font-size: 14px;
}
.tweeter-user {
        font-size: 16px;
        color: #222;
        font-weight: 700;
        display: flex;
}
.tweet-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 6px!important;
}
img {
    vertical-align: middle;
}
.tweet-header {
    display: flex;
    margin-bottom: 15px;
}
.twist {
        display:flex;
        grid-template-columns: 1fr;
        gap: 0px;
        margin: 0 90px 20px;
       
}
.clear {
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 70px;
}
.pass {
    text-transform: uppercase;
    color: #dc43c6;
    margin: 10px 0;
    font-size: 15px;
    margin-left: 100px;
    line-height: 0.10px;
}
.man {
    font-size: 22px;
    margin-left: 50px;
}
.pin {
    font-weight: 400;
    font-size: 18px; 
    margin-left: 100px;
}
.made {
    display: inline-flex;
    margin-left: 100px;
}
.min {
    margin-right: 40px;
}
.teach {
    margin-right: 80px;
}
.passion {
    margin-top: 50px;
}
.top {
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 10;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 50px;
}
.cards {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    background-color: white;
  }
  .cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 1px solid gray;
  }
  img {
    border-radius: 5px 5px 0 0;
    
  }
  .count{
    padding: 5px 30px;
    background-color: white;
    text-align: center;
  }
  h4:hover{
    color: #7250d5;
  }
  .be {
    background-color: white;
    text-align: center;
    padding-left: 15px;
  }
  .bit {
    margin-top: 40px;
    padding-bottom: 15px;
    background-color: white;
    border-radius: 5px;
    padding-left: 15px;
  }
  .been {
    padding-bottom: 75px;
    border-radius: 5px;
  }
  .ran {
    display: flex;
  }
  .rin {
    margin-top: 60px;
  }
  .bat {
    margin: 70px 500px 0;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    padding-top: 15px;
    font-size: larger;
  }
  .btn:hover {
    color: white;
  }
  h5 {
    text-align: center;
    font-size: 17px;
  }
  .grad2 {
    background: #31092a;
    background: linear-gradient(90deg,#31092a,#0e0331);
    color: #fff;
    padding: 30px 0;
    text-align: center;
}
.get {
    background: linear-gradient(90deg,#449fff,#7b6afd 45%,#c97bff 50%,#c03ada 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.get1 {
    font-size: 40px;
}
.car {
    background: #47174e;
    background: linear-gradient(90deg,#53125d,#321858 80%);
    border-radius: 15px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    margin: 0 auto 20px;
    max-width: 400px;
    padding: 20px;
    position: relative;
    text-transform: uppercase;
    margin-top: 30px;
}
.git1 {
    height: 1px;
    background: #826b90;
    width: 30%;
    transform: rotate(-60deg);
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    left: 0;
}
.git {
    padding-left: 20px;
    padding-right: 20px;
}
.save {
    background: #339cff;
    background: linear-gradient(90deg,#339cff,#5960ff 43%,#d713e6);
    border-radius: 30px;
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 15px 35px;
    text-transform: uppercase;
}
footer {
    bottom: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    color: #bac1c7;
    padding: 39px 0 42px;
}